# ==================================
# Python
# ==================================

__pycache__/
*.py[cod]
*$py.class


# ==================================
# Virtual Environments
# ==================================

.venv/
venv/
env/


# ==================================
# Environment Variables / Secrets
# ==================================

.env
.env.*
*.env


# ==================================
# Flask
# ==================================

instance/


# ==================================
# Databases (local only)
# ==================================

*.sqlite
*.sqlite3
*.db

/database/


# ==================================
# Logs
# ==================================

*.log


# ==================================
# Migrations Cache
# ==================================

migrations/__pycache__/
migrations/versions/__pycache__/


# ==================================
# Security Certificates / Keys
# ==================================

*.pem
*.key
*.crt

mykey.pem
mycert.pem
session_key.pem
session_cert.pem


# ==================================
# Editors
# ==================================

.vscode/
.idea/


# ==================================
# Node
# ==================================

node_modules/


# ==================================
# Build
# ==================================

dist/
build/


# ==================================
# OS Files
# ==================================

.DS_Store
Thumbs.db


# ==================================
# Temporary Local Files
# ==================================

app.
py
country.city
web-ext.cnf


# ==================================
# Separate Projects
# ==================================

asem-world/

# Local env file without extension
/env
.env
.env.*
!.env.example
*.pem
*.key
*.pyc
*.tar.gz
