/* =========================
   ASEM Dark Mode
========================= */

.dark{
    background:#111;
    color:#eee;
}

.dark header{
    background:#000;
    color:#fff;
}

.dark nav{
    background:#222;
}

.dark nav a{
    color:#fff;
}

.dark main{
    background:#1c1c1c;
    color:#eee;
}

.dark footer{
    color:#ddd;
}
